*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  overflow: hidden;
}
#main {
  width: 100%;
  height:95vh;
  margin-top: 5vh;
}

/*TODO THESIS add horitzontal scrollbar to featureInfoDiv*/
/*TODO THESIS customize scrollbar  - this can probably be hard for jcef*/

#featureInfoDiv{
  padding: 5px;
  border-radius: 10px;
  position: absolute;
  font-size: 12px;
  bottom: 5%;
  left: 0;
  height: 40%;
  width: 30%;
  overflow: auto;
}
#featureInfoButton{
  border-radius: 10px;
  /*background-color: #e1e1e1;*/
}
#featureInfoDiv > div{
  text-align: center;
  margin-bottom: 10px;
}
#featureInfoDiv > #locationDiv *{
  text-align: left;
}
#featureInfoDiv label{
  margin-right: 10px;
  font-weight: bolder;
  font-size: 14px;
}
.pathName {
  font-weight: bolder;
  margin-bottom: 3px;
}
#locationDiv li, #featureInfoDiv > div{
  /*background-color: #e1e1e1;*/
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 5px;
}

#locationDiv{
  overflow-x: auto;
}

.featureWindowDark label, p{
  color: white;
}
.featureWindowDark{
  background-color: rgba(0, 0, 0, 0.7);
}
.featureWindowDark div {
  background-color: darkslateblue;
}

.featureWindowDark label, p{
  color: black;
}
.featureWindowLight{
  background-color: rgba(200, 200, 200, 0.7);
}
.featureWindowLight div {
  background-color: #818181;
}


.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5vh;
  padding: 15px 200px;
  background: black;
  /*box shadow?*/
}
.nav,
.nav .nav-links {
  display: flex;
  align-items: center;
}
.nav {
  justify-content: space-between;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #f5f5;
}
.docked {
  display: flex;
  justify-content: space-between;
  gap:10px;
}
.nav .logo {
  width: 5vh;
  height: 5vh;
}
.nav .nav-links {
  column-gap: 20px;
  list-style: none;
}
.nav .nav-links a {
  transition: all 0.2s linear;
}
.nav.openSearch .nav-links a {
  opacity: 0;
  pointer-events: none;
}
.nav .search-icon {
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
.nav .search-box {
  position: absolute;
  right: 250px;
  height: 3vh;
  max-width: 555px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s linear;
}
.nav.openSearch .search-box {
  opacity: 1;
  pointer-events: auto;
}
.search-box .search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  /*left: 15px;*/
  color: #4a98f7;
  transform: translateY(-50%);
}
.search-box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: #fff;
  padding: 0 15px 0 45px;
}
.refresh-button {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}


/* responsive */
@media screen and (max-width: 1160px) {
  .nav {
    padding: 15px 100px;
  }
  .nav .search-box {
    right: 150px;
  }
}
@media screen and (max-width: 950px) {
  .nav {
    padding: 15px 50px;
  }
  .nav .search-box {
    right: 100px;
    max-width: 400px;
  }
}
@media screen and (max-width: 600px) {
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
  }
  .nav {
    padding: 15px 20px;
  }
  .nav .nav-links {
    position: fixed;
    top: 5%;
    right:-100%;
    height: 95%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background-color: #11101d;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 1;
  }
  .nav.openNav .nav-links {
    right:0;
    z-index:1;
  }
  .dumb {
    pointer-events: none;
    z-index:0;
  }
  .nav .navOpenBtn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .search-box {
    opacity: 1;
    right: 80px;
    max-width: 250px;
  }

  /*.nav .search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }*/
}
@media screen and (max-width: 500px) {
  .nav .search-box {
    opacity: 1;
    right: 80px;
    max-width: 250px;
  }
}
@media screen and (max-width: 430px) {
  .nav .search-box {
    opacity: 1;
    right: 80px;
    max-width: 150px;
  }
}
/*@media screen and (max-width: 400px) {
  .nav .search-box {
    opacity: 1;
    right: 80px;
    max-width: 250px;
  }
}*/
@media screen and (max-width: 350px) {
  .nav .search-box {
    opacity: 0;
  }
  .nav .search-icon {
    opacity: 0;
  }
}

